<h1>"Edit the answer for "<%= @question.question %>"</h1>

<%= simple_form_for [@test, @question, @answer], :url => {:action => 'update'}, class: 'form-horizontal' do |f| %>
    <div>
      <%= f.input :content, label: 'Answer', class: 'form-control' %>
    </div>

    <div>
      <%= f.input :is_correct, label: 'Is correct?', as: :radio_buttons %>
    </div>

    <%= f.hidden_field :question_id, value: params[:question_id] %>
    <div>
      <%= f.submit 'Save', class: 'btn btn-success' %>
    </div>
<% end %>